/*
-----------------------------------
normalize properties
-----------------------------------
*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/*
-----------------------------------
header & footer styles
-----------------------------------
*/
body {
    overflow-Y: auto;
}

body::-webkit-scrollbar {
    width: .7em;
}

body::-webkit-scrollbar-track {
    background: linear-gradient(180deg, rgba(239,239,239,1) 0%, rgba(15,26,47,.9) 100%);
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgba(15,26,47,.9) 0%, rgba(239,239,239,1) 100%);
  border-radius: 20px;
}

/*
-----------------------------------
header & footer styles
-----------------------------------
*/
header,
footer {
    height: 60px;
    width: 100%;
    color: white;
    background-color: black;
    position: fixed;
    z-index: 10;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

/*
-----------------------------------
main content styles
-----------------------------------
*/
main {
    height: 100%;
    margin: 60px 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    background-color: #efefef;
}

.wrapper form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-auto-rows: max-content;
    gap: 1em;
    height: 100%;
}

.item {
    width: 200px;
    height: 200px;
    flex-direction: column;
    text-align: center;
}

/*
-----------------------------------
reusable classes
-----------------------------------
*/
.flex {
    display: flex;
}

.flex_align_center {
    align-items: center;
}

.flex_justify_center {
    justify-content: center;
}
